button:disabled {
	cursor: not-allowed;
	color: #6b6b6b;
	background-color: #e4ccee;
}
.signupLink{
	color: #b374ee;
	text-shadow: 4px 4px 8px #c8a3d8;
	list-style: none;
	text-decoration: none;
font-size: bold
}



@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.LoginText {
	margin-top: 20px;
	font-family: "Lobster", cursive;
	background: -webkit-linear-gradient(rgb(160, 248, 211), rgb(224, 99, 208));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}