.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
}
.cart-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 15px;
}
.cart-detail,.user-detail{
    background-color: #fff;
    border: 1px solid #9e9d9d;
    border-radius: 1rem;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}
.user-detail{
    width: 300px;
}
.Detail{
    padding-bottom: 7px;
    border-bottom: 1px solid #9e9d9d;
    display: flex;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
}
.total{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.cartItem{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 0.5px solid rgb(192, 191, 191);
}